<%- include('partials/head') %>

    <body>
        <%- include('partials/navBar') %>
            <h1>THe Home Page
                <%='hello world'.toUpperCase()%>
            </h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus fuga deleniti repellendus facilis numquam voluptas accusamus doloremque, perspiciatis error laboriosam repellat eaque beatae, exercitationem quisquam alias impedit. Suscipit, blanditiis
                nulla! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta magni voluptatem sit quibusdam molestiae doloremque fugit quisquam. Ex cumque repellat ut voluptatibus fugiat accusantium consequuntur non quas similique! Inventore,
                dolore.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, ipsum quia sint voluptatum neque ipsa vel quasi quidem beatae deleniti amet itaque fugiat sunt culpa temporibus dolore fugit nihil dolor.
            </p>


    </body>

    </html>